name: russian_declinator
description: A russian declension app.
version: 0.0.1+1
publish_to: 'none'

environment:
  sdk: ">=2.13.0 <3.0.0"
  flutter: ">=2.2.0 < 3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.2
  path: ^1.8.0
  path_provider: ^2.0.2
  hive: ^2.0.4
  flutter_riverpod: ^1.0.0-dev.6
  grouped_buttons:
    git:
      url: https://github.com/defuncart/fork_grouped_buttons
      ref: feature/null-safety
  sqlite3: ^1.1.2
  moor: ^4.4.1
  sqlite3_flutter_libs: ^0.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4
  arb_generator: ^0.0.1
  flutter_pseudolocalizor: ^0.5.1
  intl_utils: #^2.3.0
    git:
      url: https://github.com/defuncart/fork_intl_utils
      ref: feature/ignore-avoid_catches_without_on_clauses-always_use_package_imports-generated-code
  moor_generator: ^4.4.1
  build_runner: ^2.0.6

flutter:
  uses-material-design: true
  assets:
    - assets/db/db.sqlite

arb_generator:
  input_filepath: "assets_dev/loca/loca.csv"
  output_directory: "assets_dev/l10n"
  filename_prepend: "intl_"
  csv_settings:
    delimiter: ";"
    description_index: 1
    base_index: 2

flutter_pseudolocalizor:
  input_filepath: "assets_dev/l10n/intl_en.arb"
  replace_base: false
  use_brackets: true
  text_expansion_format: 'repeatVowels'
  text_expansion_ratio: null
  languages_to_generate:
    - de
    - ru
  arb_settings:
    output_directory: 'assets_dev/l10n_pseudo'

flutter_intl:
  enabled: true
  class_name: AppLocalizations
  main_locale: en
  arb_dir: assets_dev/l10n_pseudo
  output_dir: lib/generated
